@import url("../variables.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: var(--font-inter);
}

main {
    width: 100%;
    height: 100svh;
    background-color: var(--bg-color);   
    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

.side-bar {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    background-color: var(--items-color);

    
}

.icons {
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.side-bar i {
    color: var(--text-default);
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar .profile {
    background-color: var(--contrast-color);
    width: 48px;
    height: 48px;
    border-radius: 100px;

}


.content-section {
    width: 100%;
    height: 100%;
    display: flex;
    
}

.content-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 25px;
    gap: 8px;
}

.today-transport {
    width: 90%;
    height: 12%;
    
    background-color: var(--items-color);
    border-radius: 20px;

    display: flex;
    flex-direction: column;

    border: var(--default-stroke);
    margin-bottom: 20px;
    margin-top: 10px;
}

/*

    nao adaptado ainda

*/

.today-transport .header {
    width: 100%;
    height: 32%;
    color: var(--text-mute);
    padding-inline: 15px;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.today-transport .content {
    width: 100%;
    height: 68%;
    display: flex;
    padding-inline: 20px;
    justify-content: space-between;
    align-items: center;
}

.today-transport strong {
    color: var(--text-default);
}

.today-transport h1 {
    color: var(--text-default);
    font-weight: 550;
}

.today-transport .content button {
    width: 45%;
    height: 50%;
    border: none;
    border-radius: 10px;
    background-color: var(--contrast-color);
    font-family: var(--font-inter);
    color: var(--text-default);
    font-weight: 550;
}

.automatic-presence {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 15px;
    padding-inline: 20px;

    position: relative;
}

.week-day {
    color: var(--text-default);

    width: 20%;
    height: 50%;
    align-content: center;
    text-align: center;
    text-align: center;
    border-radius: 10px;

    font-weight: 600;
    
}

.checked {
    background-color: var(--action-color);
}

.card-label {
    width: 80%;
    font-size: 0.8rem;
    color: var(--text-mute);
    font-weight: 500;

}

.all-transports {
    width: 100%;
    height: fit-content;
    padding-bottom: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding-inline: 20px;

}


.all-transports table {
    width:  fit-content;
    height: fit-content;


    border-radius: 20px;
    border: var(--default-stroke);
    border-spacing: 0px;
    color: var(--text-default);

    background-color: var(--items-color);

    

}

.first-cell {
    border-radius: 20px 0px 0px 0px;
}

.last-cell {
    border-radius: 0px 20px 0px 0px;
}

.all-transports th {
    min-width: 25%;
    height: 100%;
    width: fit-content;
    padding-block: 10px;
    text-align: center;
    
    font-size: 0.9rem;
    font-weight: 500;
    background-color: var(--action-color);
}

.all-transports td {

    min-width: 50%;
    padding-block: 20px;

    align-content: center;
    padding-inline: 50px;
    
    white-space: nowrap;
    width: fit-content;
    text-align: center;
    font-size: 0.9rem;
}

.all-transports td button {
    background-color: var(--contrast-color);
    color: var(--text-default);
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
}

.choosen {
    font-weight: 800;
}

.full {
    color: var(--text-mute);
}

/* .route-map {
    width: 90%;
    height: 40%;
    border: var(--default-stroke);
    border-radius: 20px;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 20px;
} */



@media (min-width: 1280px) {
    main {
    width: 100%;
    height: 100svh;
    background-color: var(--bg-color);   
    display: flex;
}

.side-bar {
    width: 12%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    background-color: var(--items-color);
    margin: 1%;

    
}

.side-bar i {
    color: var(--text-default);
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar .profile {
    background-color: var(--contrast-color);
    width: 36px;
    height: 36px;
    border-radius: 100px;

}



.content-section {
    width: 70%;
    height: 100%;
    display: flex;
    
}

.content-wrap {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 8px;
}

.today-transport {
    grid-column: span 7 / span 7;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
    
    background-color: var(--items-color);
    border-radius: 20px;

    display: flex;
}
}
