@import url("../variables.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: var(--font-inter);
}


/* Mobile First */

.login-main {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: end;

    background-color: var(--bg-color);
}


.form-article {
    width: 100%;
    height: 50%;

    display: flex;
    border-radius: 40px 40px 0px 0px;
    border-top: var(--default-stroke);
    background-color: var(--items-color);
    justify-content: center;
    align-items: center;
}

.info-article {
    width: 100%;
    height: 40%;

    display: flex;
    /* background-color: var(--items-color); */
    border-radius: 20px 20px 0px 0px;

    justify-content: center;
    align-items: center;
}

.info-section-form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section-form .title {
    width: 100%;
    height: 30%;
    color: var(--contrast-color);
    font-size: 210%;
    align-content: center;
    text-align: center;
}

.info-section-form .info {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 1rem;
    color: var(--text-default);
}

.info-section-form .info-signup {
    width: 90%;
    height: 10%;
    text-align: center;
    font-size: 1rem;
    color: var(--text-default);
}

.info-footer {
    width: 100%;
    flex: 1;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contrast-text {
    color: var(--contrast-color);
}

.contact {
    height: fit-content;
    width: fit-content;
}

.info-footer {
    align-self: flex-end;
    justify-self: end;
}

.form-section {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section .form-title {
    width: 100%;
    height: 20%;
    font-size: 190%;
    text-align: center;
    color: var(--contrast-color);
    align-content: center;
    padding-inline: 10%;
}

.form-section form {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.input-label {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.input-label label {
    color: var(--text-default);
    font-weight: 500;
    font-size: 0.9rem;
    padding-bottom: 5px;
}

.input-label input {
    width: 100%;
    height: 40%;
    padding-inline: 4px;
    
    font-family: var(--font-inter);
    font-size: 0.9rem;
    color: var(--text-default);
    text-indent: 5px;

    background-color: var(--action-color);

    border: none;
    border-radius: 5px;
}

input:focus {
    outline: none;

    border: var(--default-stroke);
}

.fields {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.password-reset {
    color: var(--contrast-color);
    font-weight: 550;
    text-decoration-thickness: 2px;
    font-size: 1rem;
    padding-bottom: 5vh;
}

.info-signup-button {
    width: 50%;
    height: 12%;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--contrast-color);
    color: var(--text-default);
    font-size: 0.9rem;
    font-weight: 600;
}

.form-button{
    width: 80%;
    height: 15%;
    border: none;
    border-radius: 10px;

    text-decoration: none;
    text-align: center;
    align-content: center;
    background-color: var(--contrast-color);
    color: var(--text-default);
    font-size: 1.1rem;
    font-weight: 600;
}

.form-button:hover {
    cursor: pointer;
}

.fab.fa-github {
  color: var(--contrast-color);
  font-size: 2rem;
}


/*
    para a resolução do projetor
*/

@media (min-width: 640px) {











    
.login-main {
    width: 100%;
    height: 100svh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.form-article {
    width: 40%;
    height: 70%;
    display: flex;
    background-color: var(--items-color);
    border-radius: 20px;
    border: var(--default-stroke);
    justify-content: center;
    align-items: center;
}

.info-article {
    width: 40%;
    height: 70%;
    display: flex;
    background-color: var(--items-color);
    border-radius: 20px;
    border: var(--default-stroke);
    justify-content: center;
    align-items: center;
}

.info-section-form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section-form .title {
    width: 100%;
    height: 30%;
    color: var(--contrast-color);
    font-size: 1.3rem;
    align-content: center;
    text-align: center;
}

.info-section-form .info {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 0.8rem;
    color: var(--text-default);
}

.info-section-form .info-signup {
    width: 90%;
    height: 10%;
    text-align: center;
    font-size: 0.8rem;
    color: var(--text-default);
}

.info-footer {
    width: 100%;
    flex: 1;
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contrast-text {
    color: var(--contrast-color);
}

.contact {
    height: fit-content;
    width: fit-content;
}

.info-footer {
    align-self: flex-end;
    justify-self: end;
}

.form-section {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section .form-title {
    width: 100%;
    height: 30%;
    font-size: 1.5rem;
    text-align: center;
    color: var(--contrast-color);
    align-content: center;
    padding-inline: 10%;
}

.form-section form {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.input-label {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.input-label label {
    color: var(--text-default);
    font-weight: 500;
    font-size: 0.8rem;
    padding-bottom: 5px;
}

.input-label input {
    width: 100%;
    height: 50%;
    padding-inline: 2px;
    
    font-family: var(--font-inter);
    font-size: 0.7rem;
    color: var(--text-default);
    text-indent: 5px;

    background-color: var(--action-color);

    border: none;
    border-radius: 5px;
}

input:focus {
    outline: none;

    border: var(--default-stroke);
}

.fields {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.password-reset {
    color: var(--contrast-color);
    font-weight: 500;
    text-decoration-thickness: 1px;
    font-size: 0.7rem;
    padding-bottom: 5vh;
}

.info-signup-button {
    width: 50%;
    height: 7vh;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--contrast-color);
    color: var(--text-default);
    font-size: 0.8Testeniggerrem;
    font-weight: 600;
}

.form-button {
    width: 80%;
    height: 7vh;
    border: none;
    border-radius: 10px;

    background-color: var(--contrast-color);
    color: var(--text-default);
    font-size: 0.9rem;
    font-weight: 600;
}

.form-button:hover {
    cursor: pointer;
}

.fab.fa-github {
  color: var(--contrast-color);
  font-size: 1.4rem;
}

}

@media (min-width: 800) {

}


/*
    Laptops
*/

@media (min-width: 1280px) {

.login-main {
    width: 100%;
    height: 100svh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.form-article {
    width: 40%;
    height: 70%;
    display: flex;
    background-color: var(--items-color);
    border-radius: 20px;
    border: var(--default-stroke);
    justify-content: center;
    align-items: center;
}

.info-article {
    width: 40%;
    height: 70%;
    display: flex;
    background-color: var(--items-color);
    border-radius: 20px;
    border: var(--default-stroke);
    justify-content: center;
    align-items: center;
}

.info-section-form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section-form .title {
    width: 100%;
    height: 30%;
    color: var(--contrast-color);
    font-size: 2.5rem;
    align-content: center;
    text-align: center;
}

.info-section-form .info {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 1rem;
    color: var(--text-default);
}

.info-section-form .info-signup {
    width: 90%;
    height: 10%;
    text-align: center;
    font-size: 1rem;
    color: var(--text-default);
}

.info-footer {
    width: 100%;
    flex: 1;
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contrast-text {
    color: var(--contrast-color);
}

.contact {
    height: fit-content;
    width: fit-content;
}

.info-footer {
    align-self: flex-end;
    justify-self: end;
}

.form-section {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section .form-title {
    width: 100%;
    height: 30%;
    font-size: 2.5rem;
    text-align: center;
    color: var(--contrast-color);
    align-content: center;
    padding-inline: 10%;
}

.form-section form {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.input-label {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.input-label label {
    color: var(--text-default);
    font-weight: 500;
    font-size: 0.9rem;
    padding-bottom: 5px;
}

.input-label input {
    width: 100%;
    height: 50%;
    padding-inline: 8px;
    
    font-family: var(--font-inter);
    font-size: 0.9rem;
    color: var(--text-default);
    text-indent: 5px;

    background-color: var(--action-color);

    border: none;
    border-radius: 5px;
}

input:focus {
    outline: none;

    border: var(--default-stroke);
}

.fields {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.password-reset {
    color: var(--contrast-color);
    font-weight: 550;
    text-decoration-thickness: 2px;
    font-size: 1rem;
    padding-bottom: 5vh;
}

.info-signup-button {
    width: 50%;
    height: 7vh;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--contrast-color);
    color: var(--text-default);
    font-size: 1.1rem;
    font-weight: 600;
}

.form-button {
    width: 80%;
    height: 7vh;
    border: none;
    border-radius: 10px;

    background-color: var(--contrast-color);
    color: var(--text-default);
    font-size: 1.1rem;
    font-weight: 600;
}

.form-button:hover {
    cursor: pointer;
}

.fab.fa-github {
  color: var(--contrast-color);
  font-size: 2.5rem;
}

}

/*
    Caso o projetor seja maior, mas mantendo a mesma proporção 4:3
*/

@media (min-width: 1440px) {

.login-main {
    width: 100%;
    height: 100svh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.form-article {
    width: 40%;
    height: 70%;
    display: flex;
    background-color: var(--items-color);
    border-radius: 20px;
    border: var(--default-stroke);
    justify-content: center;
    align-items: center;
}

.info-article {
    width: 40%;
    height: 70%;
    display: flex;
    background-color: var(--items-color);
    border-radius: 20px;
    border: var(--default-stroke);
    justify-content: center;
    align-items: center;
}

.info-section-form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section-form .title {
    width: 100%;
    height: 30%;
    color: var(--contrast-color);
    font-size: 2.5rem;
    align-content: center;
    text-align: center;
}

.info-section-form .info {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 1.1rem;
    color: var(--text-default);
}

.info-section-form .info-signup {
    width: 90%;
    height: 10%;
    text-align: center;
    font-size: 1.1rem;
    color: var(--text-default);
}

.info-footer {
    width: 100%;
    flex: 1;
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contrast-text {
    color: var(--contrast-color);
}

.contact {
    height: fit-content;
    width: fit-content;
}

.info-footer {
    align-self: flex-end;
    justify-self: end;
}

.form-section {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section .form-title {
    width: 100%;
    height: 30%;
    font-size: 2.5rem;
    text-align: center;
    color: var(--contrast-color);
    align-content: center;
    padding-inline: 10%;
}

.form-section form {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.input-label {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.input-label label {
    color: var(--text-default);
    font-weight: 500;
    font-size: 0.9rem;
    padding-bottom: 5px;
}

.input-label input {
    width: 100%;
    height: 50%;
    padding-inline: 8px;
    
    font-family: var(--font-inter);
    font-size: 0.9rem;
    color: var(--text-default);
    text-indent: 5px;

    background-color: var(--action-color);

    border: none;
    border-radius: 5px;
}

input:focus {
    outline: none;

    border: var(--default-stroke);
}

.fields {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.password-reset {
    color: var(--contrast-color);
    font-weight: 550;
    text-decoration-thickness: 2px;
    font-size: 1rem;
    padding-bottom: 5vh;
}

.info-signup-button {
    width: 50%;
    height: 7vh;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--contrast-color);
    color: var(--text-default);
    font-size: 1.1rem;
    font-weight: 600;
}

.form-button {
    width: 80%;
    height: 7vh;
    border: none;
    border-radius: 10px;

    background-color: var(--contrast-color);
    color: var(--text-default);
    font-size: 1.1rem;
    font-weight: 600;
}

.form-button:hover {
    cursor: pointer;
}

.fab.fa-github {
  color: var(--contrast-color);
  font-size: 2.5rem;
}

}


/*
    Desktop
*/

@media (min-width: 1920px) {


.login-main {
    width: 100%;
    height: 100svh;
    background-color: var(--bg-color);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.form-article {
    width: 40%;
    height: 70%;
    /* display: flex; */
    background-color: var(--items-color);
    border-radius: 20px;
    border: var(--default-stroke);
    justify-content: center;
    align-items: center;
}

.info-article {
    width: 40%;
    height: 70%;
    display: flex;
    background-color: var(--items-color);
    border-radius: 20px;
    border: var(--default-stroke);
    justify-content: center;
    align-items: center;
}

.info-section-form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-section-form .title {
    width: 100%;
    height: 30%;
    color: var(--contrast-color);
    font-size: 3.5rem;
    align-content: center;
    text-align: center;
}

.info-section-form .info {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 1.6rem;
    color: var(--text-default);
}

.info-section-form .info-signup {
    width: 90%;
    height: 10%;
    text-align: center;
    font-size: 1.6rem;
    color: var(--text-default);
}

.info-footer {
    width: 100%;
    flex: 1;
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contrast-text {
    color: var(--contrast-color);
}

.contact {
    height: fit-content;
    width: fit-content;
}

.info-footer {
    align-self: flex-end;
    justify-self: end;
}

.form-section {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section .form-title {
    width: 100%;
    height: 30%;
    font-size: 3rem;
    text-align: center;
    color: var(--contrast-color);
    align-content: center;
    padding-inline: 10%;
}

.form-section form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.input-label {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.input-label label {
    color: var(--text-default);
    font-weight: 500;
    font-size: 1.3rem;
    padding-bottom: 5px;
}

.input-label input {
    width: 100%;
    height: 50%;
    padding-inline: 8px;
    
    font-family: var(--font-inter);
    font-size: 1.3rem;
    color: var(--text-default);
    text-indent: 5px;

    background-color: var(--action-color);

    border: none;
    border-radius: 5px;
}

input:focus {
    outline: none;

    border: var(--default-stroke);
}

.fields {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.password-reset {
    color: var(--contrast-color);
    font-weight: 550;
    text-decoration-thickness: 2px;
    font-size: 1.5rem;
    padding-bottom: 5vh;
}

.info-signup-button {
    width: 12vw;
    height: 7vh;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--contrast-color);
    color: var(--text-default);
    font-size: 1.7rem;
    font-weight: 600;
}

.form-button{
    width: 12vw;
    height: 7vh;
    border: none;
    border-radius: 10px;

    background-color: var(--contrast-color);
    color: var(--text-default);
    font-size: 1.7rem;
    font-weight: 600;
}

.form-button:hover {
    cursor: pointer;
}

.fab.fa-github {
  color: var(--contrast-color);
  font-size: 3.5rem;
}


}


